*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --verde: #21EB00;
  --cinza: #4a4b48;
}

html{
  font-size: 10px;
}

h1{
  color: var(--verde) !important;
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

h2{
  color: var(--cinza);
  font-weight: 400;
  font-size: 3.2rem;  
}

body{
  background: #121010;
}


/* ====Área do Input ==== */

@keyframes Inativo{
  from{
    opacity: 1;
  }
  
  to{
    opacity: 0;
  }
}

#main-layout.inativo{
  display: none;
  animation: Inativo 0.5s ease-out forwards;
}


@keyframes Ativo{
  from{
    opacity: 0;
    display: none;
  }
  to{
    opacity: 1;
    display: flex !important;
  }
}

#main-layout.ativo{
  display: flex;  
  flex-direction: column;
  align-items:center;
  justify-content:center;
  max-width: 100rem;
  width: 100%;
  height: 50rem;  
  margin: 0 auto;
  animation: Ativo .4s ease-in forwards;
}

main{
  display: flex;
  flex-direction: column;
  align-items:center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  width: 100%;
}


form > input, form>button{
  width: calc(100% + 50px);
  border-radius: 20px;  
  height: 50px;
}

form>input{
  padding: 0 15px;
  font-weight: 700;
  font-size: 1.6rem;
  background: var(--cinza);
  border: 0;
  color: #fff;
}

form>button{
  background-color: var(--verde) !important;
  border: 0;
  font-size: 2.8rem;
  font-weight: 700;
  cursor: pointer;
}
/* ==== Fim da Área do Input ====  */

/* ==== Área do Contador ====  */

#contadorLayout.inativo{
  display: none;
  animation: Inativo .5s ease-out forwards;
}

#contadorLayout.ativo{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  animation: Ativo .5s ease-in forwards;
}


#contadorLayout.ativo header{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}

#contadorLayout.ativo header button, #contadorLayout header .restart{
  flex: 1;
}

#contadorLayout.ativo header button{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background: var(--verde);
  font-weight: 700;
  font-size: 2.4rem;
  cursor: pointer;
}

#contadorLayout.ativo main{
  width: 100%;
  height: 40rem;  
}

#contadorLayout.ativo main>h1{
  color: var(--cinza) !important;
  margin-top: 3.2rem;
}

.contador{
  max-width: 110rem;
  width: 100%;
  height: 75%;  
  display: flex;
  justify-content:center;
}

.contador>div{
  flex: 1;
  display: flex;
}

.contadorNumberContainer{
  flex: 1;    
  margin-right: 10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.contadorNumberContainer .contadorNumber{
  font-size: 12.0rem;
  color: #fff;
  font-weight: 700;
}

.contadorNumberContainer p{
  color: var(--verde);
  font-size: 2.4rem;
  font-weight: 700;
}

/* ==== Fim da Área do Contador ====  */

/* ==== Área Info Class ==== */

.areaInfoClass{
  display: block;
  width: 100%;
  height: auto;
  font-size: 2.4rem;
  color: #fff;
  transition:.4s ease-in-out;
}

/* ==== Fim Área Info Class ====  */

/* ==== Área Responsividade ====  */

@media (max-width:769px){
  html{
    font-size: 9px !important;
  }
}

@media (max-width:429px){
  html{
    font-size: 8px !important;
  }

  #mainLayout.ativo, #containerLayout.ativo{
    height: 100vh;
  }


  #contadorLayout.ativo header{
    flex-direction: column;
    align-items: center;
    padding: 16px 0 !important;
  }
  
  .contador{
    flex-direction: column;
    height: auto;
  }

  #contadorLayout.ativo main>h1{
    text-align: center;
  }
  
  .contador>div:first-child .contadorNumberContainer:first-child{
    border-right: 3px solid var(--cinza);
    border-bottom: 3px solid var(--cinza);
  }

  .contadorNumberContainer:nth-child(2){
    transform: translateY(20%);
  }

  .contador>div:last-child{
    transform: translateY(20%);
  }

  .contador>div:last-child .contadorNumberContainer:last-child{
    transform: translateY(25%);
    border-top: 3px solid var(--cinza);
    border-left: 3px solid var(--cinza);
  }

  #contadorLayout.ativo main > h1:last-child{
    transform: translateY(75%);
  }
}